h1 {
    color: #ffffff;
    font-family:'Roboto', sans-serif;
    font-size: 4vw;
    font-size: 4vmax;
    text-align: center;
   
}
h2{
    text-align: center;
    font-size: 2vw;
    font-size: vmax;
    font-style: inherit;
    color: rgb(255, 255, 255);
}
h3{
    font-size: 3vw;
    font-size: 3vmax;
    /* font-size: 1.4em; */
}
#zen-supporting{
    background-image: url('/Esercitazioni/media/sardegna.jpg');
}