body{
    background-image: url('/Esercitazioni/media/sardegna.jpg');
    /* background-color: #2d4355; */
    font-family:montserrat;
    border-color: aliceblue;
    /* background-attachment: scroll; */
    /* background: url("/Esercitazioni/media/php.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
link{
    color:hsl(146, 68%, 33%);
}
header{
    position:relative;
    border-bottom: 2px solid white ;
    text-align: center;
    height: 40em;
    width: 40em;
    border-radius: 50%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    /* Allineamento al centro orizzontale */
    margin: 0 auto;

    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
p {
    margin: 10px;
}
.summary{
    width:25%;
    float:left;
    margin: 4em;
    border: 2px solid white ;
    text-align:center;
    
}

.preamble_new{
    float:left;
    width:50%;
    margin:4em;
    border: 2px solid white ;
}

.main{
margin:1em;
}

.sidebar{
    margin:10em;
    background-color: hsl(146, 68%, 33%);
    border: solid 5px white;
    border-radius: 5px;
}

.explanation{
    padding:1em;
    margin:2em;
    border: solid 5px white;
    border-radius: 5px;
}

.participation{
    padding:1em;
    margin:2em;
    border: solid 5px white;
    border-radius: 5px;
}
.benefits{
    padding:1em;
    margin:2em;
    border: solid 5px white;
    border-radius: 5px;
}
.requirements{
    padding:1em;
    margin:2em;
    border: solid 5px white;
    border-radius: 5px;
}
#h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -101%);
}
#h2{
    margin-top: 200px;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -99%);
}