@charset "utf-8";
/* @import "reset.css"; */
@import "font.css";
@import "header.css";

body{
    background-color: #035AA6;
    font-family:montserrat;
    border-color: aliceblue;
}
link{
    color:hsl(146, 68%, 33%);
}
header{
    border-bottom: 2px solid white ;
    text-align: center;
    height: 50em;;
}
.summary{
    width:25%;
    float:left;
    margin: 4em;
    border: 2px solid white ;
    text-align:center;
    
}

.preamble_new{
    float:left;
    width:50%;
    margin:4em;
    border: 2px solid white ;
}

.main{
margin:1em;
}

.sidebar{
    margin:10em;
    background-color: hsl(146, 68%, 33%);
    border: solid 5px white;
    border-radius: 5px;
}

.explanation{
    padding:1em;
    margin:2em;
    border: solid 5px white;
    border-radius: 5px;
}

.participation{
    padding:1em;
    margin:2em;
    border: solid 5px white;
    border-radius: 5px;
}
.benefits{
    padding:1em;
    margin:2em;
    border: solid 5px white;
    border-radius: 5px;
}
.requirements{
    padding:1em;
    margin:2em;
    border: solid 5px white;
    border-radius: 5px;
}