@charset "utf-8";
@import "font.css";
@import "header.css";

body{
    background-color: #035AA6;
    font-family:montserrat;
    border-color: aliceblue;
}
link{
    color:hsl(146, 68%, 33%);
}
.fa-camera{
    color:#023059;
}

.sidebar{
    background-color: hsl(146, 68%, 33%);
    border: 5px;
}
.explanation{
    border: 30px;
    border-color: aliceblue;
}
.participation{
    border: 10px;
    border-color: aliceblue;
}
.benefits{
    border: 10px;
    border-color: aliceblue;
}
.requirements{
    border: 10px;
    border-color: aliceblue;
}