@charset "utf-8";
@import "font.css";
@import "header.css";

body{
    background-color: #035AA6;
    font-family:montserrat;
}
link{
    color:#1B8C4C;
}
.fa-camera{
    color:#023059;
}

.summary{
    font-weight: 900;
    font-style:oblique;
    font-kerning:none;
    font-variant-alternates: normal;

}
