@charset "utf-8";
@import "reset.css";

body{
    background-color: #1A2E35;

}

main{
    background-image: linear-gradient(#FF735C,#FF735C);
}

#bk1{
    width: calc(40% - 2%);
    height: 400px;
    /* background-color: #FF735C; */
    border:solid #FFFFFF;
    border-radius: 2%;
    float: left;
    margin:calc(5%);
    position: relative;
    background:
        no-repeat 
        url(/Esercitazioni/background2/media/polpen.png) 30px bottom/40%,
        linear-gradient(45deg,#000000,#044BD1 );
}

#bk2{
    width: calc(40% - 2%);
    height: 400px;
    /* background-color: #FF735C; */
    border:solid #FFFFFF;
    border-radius: 2%;
    float: left;
    margin:auto 0;
    position: relative;
    background: 
        no-repeat
        /* In questo modo posso assegnare una posizione diversa ad ogni elemento  */
        url(/Esercitazioni/background2/media/polpen.png)center,
        linear-gradient(90deg, #000000,#404BD1);
}

#bk3{
    width: calc(40% - 2%);
    height: 200px;
    border:solid #FFFFFF;
    border-radius: 2%;
    margin: 0 auto;
    /* position: relative; */
    background: 
        no-repeat
        /* In questo modo posso assegnare una posizione diversa ad ogni elemento  */
        url(/Esercitazioni/background2/media/polpen.png)center,
        linear-gradient(90deg, #000000,#404BD1);
}